<div class="card">

  <div class="card-title">
    List movies
  </div>

  <div class="card-content">


    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>
            <div class="flex direction-column">
              <div class="flex center flex-1">
                Year
              </div>
              <div class="flex center flex-1">
                <input id="movieYear" type="text" label="Filter by year" min="1900" max="2999" maxlength="4"
                  placeholder="Filter by year" [formControl]="filter" (change)="filtering()">
              </div>
            </div>
          </th>
          <th>Title</th>
          <th>
            Winner?
            <select id="winner-select" name="select">
              <option value="valor1">Yes</option>
              <option value="valor2">No</option>
            </select>
          </th>
        </tr>
        <tr *ngFor="let m of (filterResult.length > 0 ? filterResult : movies)">
          <td>{{ m.id }}</td>
          <td>{{ m.year }}</td>
          <td>{{ m.title }}</td>
          <td>{{ m.winner == true ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" style="padding:0; margin:0;">
            <div class="flex center">
              <div class="pagination v-align-center">

                <a routerLink="/list/0" (click)="selectPage(0)">
                  <span class="material-symbols-outlined">
                    first_page
                  </span>
                </a>

                <a href="#" [routerLink]="['/list', paginator.pageNumber]" (click)="prevPage()">
                  <span class="material-symbols-outlined">
                    chevron_left
                  </span>
                </a>

                <span *ngFor="let p of paginationItems.link;  let i = index">
                  <span *ngIf="paginator.pageNumber > (i-3) && paginator.pageNumber < (i+3)">
                    <a [routerLink]="p" [routerLinkActive]="['active']" (click)="selectPage(i)">{{ i + 1}}</a>
                  </span>
                </span>

                <a href="#" [routerLink]="['/list/', paginator.pageNumber]" (click)="nextPage()">
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </a>

                <a href="#" [routerLink]="'/list/' + paginator.pageNumber"
                  (click)="selectPage(paginationItems.link.length - 1)">
                  <span class="material-symbols-outlined">
                    last_page
                  </span>
                </a>

              </div>
            </div>
          </td>
        </tr>
      </tfoot>

    </table>


  </div>

</div>
