th {
  text-align: center;
  width: 200px !important;
}

form {
  padding: 0;
}

#movieYear {
  margin: 8px;
}

#winner-select {
  margin-top: 8px;
  padding: 0 8px;
}
.pagination .v-align-center {
  padding: 0;
}

/* Pagination links */
.pagination a {
  color: #141414;
  float: left;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
  line-height: 20px;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #666666;
}

.material-symbols-outlined {
  padding: 0;
  margin:0;
}
