<div class="card">

  <div class="card-title">
    List movies
  </div>

  <div class="card-content">

    <table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>
            <div class="flex direction-column">
              <div class="flex center flex-1">
                Year
              </div>
              <div class="flex center flex-1 column">
                <input id="movieYear" type="number" label="Filter by year" min="1900" max="2999" maxlength="4"
                  placeholder="Filter by year" [formControl]="filter" (ngModelChange)="filtering()">
              </div>
              <div class="error-msg" *ngIf="showYearErroType">Please type a number!</div>
            </div>
          </th>
          <th>Title</th>
          <th>
            Winner?
            <select id="winner-select" name="select" [formControl]="filterByWinner" (change)="filteringByWinner()">
              <option value="default" selected>Yes/No</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </th>
        </tr>
        <tr *ngFor="let m of (filterResult.length > 0 ? filterResult : movies)">
          <td>{{ m.id }}</td>
          <td>{{ m.year }}</td>
          <td>{{ m.title }}</td>
          <td>{{ m.winner == true ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" id="table-paginator">
            <div class="flex center">
              <div class="pagination v-align-center">

                <a routerLink="/list/0" (click)="selectPage(0)"  *ngIf="paginator.pageNumber > 2">
                  <span class="material-symbols-outlined">
                    first_page
                  </span>
                </a>

                <a href="#" [routerLink]="['/list', paginator.pageNumber]" (click)="prevPage()"  *ngIf="paginator.pageNumber > 2">
                  <span class="material-symbols-outlined">
                    chevron_left
                  </span>
                </a>

                <span *ngFor="let p of paginationItems.link;  let i = index">
                  <span *ngIf="paginator.pageNumber > (i-3) && paginator.pageNumber < (i+3)">
                    <a [routerLink]="p" [routerLinkActive]="['active']" (click)="selectPage(i)">{{ i + 1 }}</a>
                  </span>
                </span>

                <a href="#" [routerLink]="['/list/', paginator.pageNumber]" (click)="nextPage()" *ngIf="paginator.pageNumber < paginationItems.link.length - 2">
                  <span class="material-symbols-outlined">
                    chevron_right
                  </span>
                </a>

                <a href="#" [routerLink]="'/list/' + paginator.pageNumber" *ngIf="paginator.pageNumber < paginationItems.link.length - 2"
                  (click)="selectPage(paginationItems.link.length - 1)">
                  <span class="material-symbols-outlined">
                    last_page
                  </span>
                </a>

              </div>
            </div>
          </td>
        </tr>
      </tfoot>

    </table>

    <div class="v-space-16"></div>

    <div id="spinner" class="flex v-align-center center" *ngIf="isLoading">
      <app-default-spinner *ngIf="true"></app-default-spinner> <span>Loading movies...</span>
    </div>

  </div>

</div>
