<div class="card">

  <div class="card-title">
    Producers with longest and shortest interval between wins
  </div>

  <div class="card-content">

    <div class="subheading-1">Maximun</div>

    <table>
      <tbody>
        <tr>
          <th>Year</th>
          <th>Win count</th>
        </tr>
        <tr>
          <td>1986</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>


    <div class="subheading-1">Minimum</div>

    <table>
      <tbody>
        <tr>
          <th>Producer</th>
          <th>Interval</th>
          <th>Previous year</th>
          <th>Following year</th>
        </tr>
        <tr>
          <td>1986</td>
          <td>2</td>
          <td>1986</td>
          <td>2</td>
        </tr>

      </tbody>
    </table>



  </div>

</div>
