<div class="flex direction-column">

  <div id="header" class="flex-1">
    Frontend Angular Test
  </div>

  <div class="flex flex-row">

    <div id="menu" class="flex-1">
      <a routerLink="dashboard" [routerLinkActive]="['active-link']">Dashboard</a>
      <br />
      <a routerLink="/list/0" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">List</a>
    </div>

    <div id="content" class="flex-6 v-align-center">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
