#form-container {
  padding:16px 8px;
}

#search-button {
  background-color: #007ad9;
  border: none;
  border-radius: 5px;
  padding:2px 4px;
}


.btn-disabled {
  border: none;
  border-radius: 5px;
  padding:2px 4px;
  background-color: #666666;
}

#search-button span {
  color:#fff;
}
